*{padding: 0; margin: 0;}
body,html { 
  height: 100%;
  font-size: 10px;
}

.px {
  width: 1000px;
  background-color: aqua;
  height: 500px;
}

.pce {
  width: 50%;
  background-color: beige;
  height: 100%; /*%는 부모의 높이를 상속받음*/
  float: left;
}
.pce:nth-child(2) {
  background-color: aquamarine;
}

@media screen and (max-width:1024px) {
  .pce {
    width: 100%
  }
}

.vw {
  width: 50vw;
  height: 100vh;
  background-color: coral;
}

@media screen and (max-width:767px) {
  .vw {
    width: 80vw;
    height: 50vh;
  }
}

#all {
  font-size: 20px;
}

/* em, rem - 기준이 없을 때는 16px */
.em {
  font-size: 2em;
}

.rem {
  font-size: 2rem;
}